/*Css RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Panel de tareas*/
body {
    display: flex;
    height: 100vh; 
}

.mainContainer {
    display: flex;
    width: 100%;
    height: 100vh;
}

.containerPadre {
    font-family: "Nunito", sans-serif;
    width: 30%;
    background-color: #c9d3f0; 
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); 
    padding: 2rem;
    overflow-y: auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: auto; 
}

/*Saludo de Bienvenida*/
.saludo {
    font-size: 20px;
    text-align: left;
    padding: 20px;
    color: #303030;
}

/*Form de tareas*/
.formTareas{
display: flex;
align-items: left;
padding-left: 20px;
padding-bottom: 10px;
}

.tituloTareas{
font-size: 18px;
color: #303030;
padding-top: 10px;
padding-bottom: 10px;
text-align: left;
padding-left: 20px;
}

#imputTareas {
    border: 1px solid #aeafb0;
    border-radius: 12px;
    padding: 10px 14px; 
    font-size: 13px; 
    color: #aeafb0; 
    outline: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#imputTareas::placeholder {
    color: #a0a0a0;
}

.btnAdd {
    background-color: white; 
    border: 1px solid #aeafb0; 
    border-radius: 12px;
    padding: 4px 10px;
    font-size: 20px;
    color: #aeafb0;  
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.btnAdd:hover {
    background-color: #8a96ba; 
    color: white;
    border: 1px solid white; 
}

/*Lista de tareas*/
.tareaItem {
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 10px;
  font-size: 14px;
  color: #303030;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnBorrar {
    background-color: white; 
    border: 1px solid #aeafb0; 
    border-radius: 12px;
    padding: 4px 10px;
    font-size: 15px;
    color: #aeafb0;  
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.btnBorrar:hover {
  color: #ff0000;
}

/*Mensaje cuando no hay tareas*/
.noTareas{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 15px;
    color: #303030;
}

/* Sección imagen*/
.imageContainer {
    width: 70%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 16px 16px 0;
    position: relative;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*Botones Mood*/
.moodContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 7%;
  padding-top: 40px;
}

.btnMood {
  width: 50px;
  height: 30px;
  border-radius: 20%;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.lightBlue {
  background: linear-gradient(135deg, #6ea8fe, #a8c7ff);
}

.lightPink{
  background: linear-gradient(135deg, #e574bc, #f7b4e9);
}

/*Fondos de las secciones*/
.containerPadre.moodBlue {
  background-color: #c9d3f0;
}

.containerPadre.moodPink {
  background-color: #facdf1;
}

/*Estilos hover de los botones +*/
.containerPadre.moodBlue .btnAdd:hover{
      background-color: #8a96ba; 
    color: white;
    border: 1px solid white; 
}

.containerPadre.moodPink .btnAdd:hover{
      background-color: #e574bc; 
    color: white;
    border: 1px solid white; 
}



